@mixin my-outer-container() {
  @include grid-container;
  margin-left: auto;
  margin-right: auto;
  max-width: 55em;
  padding: 2em 0;
}

.main {
  @include my-outer-container;
}

ol {
  font-size: 1em;
  font-weight: 500;

  li {
    margin: .5em 0;

    span {
      display: inline-block;

      &:before {
        content: '(';
        margin: 0 .1em;
      }

      &:after {
        content: ')';
        margin: 0 .1em;
      }
    }
  }
}

.large-column {
  @include grid-column(9);
  margin-left: 0;
  margin-right: 2em;
}

.small-column {
  @include grid-column(3);
  margin-left: 0;
}
